{{define "main"}}

{{if isset .Params "thumbnail"}}
   <html style="background: url({{.Param "bg"}}) no-repeat center center fixed;
   -webkit-background-size: cover;
   background-size: cover;
   ">
{{ else }}
   <html style="background-color: black">
{{ end }}
<body>  
    <!--Content-->
    
<div class="homebutton">
    <a href="/">Home</a><br><br>
</div>
    

<div class="largebox";>  
    {{with .Content}}<content>{{.}}</content>{{end}}
</div>
</body>

</html>  
{{- partial "large-footer.html" . -}}


{{end}}


