{{define "main"}}

{{if isset .Params "thumbnail"}}
   <html style="background: url({{.Param "bg"}}); 
   background-position: center center; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-color: black;">
{{ else }}
   <html style="background-color: black">
{{ end }}
<body>  
    <!--Content-->
    
<div class="homebutton">
    <a href="/">Home</a><br><br>
</div>
    

<div class="largebox";>  
    {{with .Content}}<content>{{.}}</content>{{end}}
</div>
</body>

</html>   

{{end}}
