{{define "main"}}

{{if isset .Params "thumbnail"}}
   <html style="background-image: url({{.Param "thumbnail"}})">
{{ else }}
   <html style="background-color: black">
{{ end }}
<body>  
    <!--Content-->
    
<div class="msgbutton">
        <a href="/msg/">✦</a><br><br>
</div>

<div class="homebutton">
    <a href="/">Home</a><br><br>
</div>
    
<div class="poembox">  
    {{with .Content}}<content>{{.}}</content>{{end}}
</div>
</body>

</html>   
{{- partial "poem-footer.html" . -}}


{{end}}
