html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

hr {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    width: 50%;
}

hr.between-updates {
    text-align: center;
    line-height: 0px;
    height: 0px;
    font-size: 18px;
    color: black;
    width: 50%;
    border-style: solid;
    border-width: .7px;
    margin: 3em auto 3em;
    overflow: visible;

}

hr.between-updates:after {
    font-size: 20px;
    content: "✦";
    background: white;
    display: inline;
    padding: 0 .3em;
}

img {
    border-radius:8px;
    box-shadow: 0px 0px 20px grey;
    margin: 25px;
}
a {
    text-decoration: none;
    transition: 0.3s ease-in-out;  
    color: green;
}

blockquote {
    margin-left: 5em;
    margin-right: 5em;
    text-align: justify;
    font-family: Times;
    line-height: 1.7em;
}
.blurb {
    margin-left: 2em;
    margin-right: 5em;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.caption {
    font-size: 15px;
    text-align: center;
    margin: auto;
    margin-bottom:3em;
}

.dropcap {
  font-family: Garamond;
  float: left;
  font-size: 5em;
  padding: 0.3em .15em 0.1em 0em;
}

.subtitle {
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 25px;
    font-variant: small-caps;
}
.content-box {
    background-color: rgb(252,254,252);
    border: 1px solid grey;
    width: 70%;
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3em;
    margin: auto;
    
}

mark {
  font-weight: bold;
  padding-left:3px;
  padding-right:3px;
  padding-top: 3px;
  padding-bottom: 2px;
  border-radius:1px;
  border-style: dotted;
  border-width:1px;
  margin-right:1px;
  background: rgb(255, 240, 140,.9);
}

.poembox {
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    font-family: Times;
    color: white;
    font-size: 20px;
}

html, body { 
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

a:visited {
    color:green;
}
a:hover {
    text-shadow: 0px 0px 10px red;
}
.title {
    font-size: 80px;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 1em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}

.pagination {
    text-align: center;
    letter-spacing: 5px;
    margin-left:40%;
    margin-right: 40%;
    border-radius: 10px;
    padding: 1em;
}

.pagination a {
    color: black;
    font-size: 20px;
}


/* The sidebar menu */
.leftnav {
  height: 100%;
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 70%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  left: 3em;
}

/* The navigation menu links */
.leftnav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  font-size: 50px;
  display: block;
}

.rightnav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; 
  top: 70%; /* Stay at the top */
  right: 6em;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.rightnav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
}



    
}
.no-dot {
  list-style-type: none;
}

h1{
    text-align: center;
    text-shadow: 0px 0px 5px grey;
    font-weight: bold;
    font-size: 80px;
    font-variant: small-caps;
    margin: 5px 0 20px 0px;
}
header a,
header h2,
header h3 {
  margin-block-end: 3em;
  margin-block-start: 0px;
}

h4 {
    margin-left: 1em;
    font-size: 2em;
    
    background: -webkit-linear-gradient(10deg, #3fad21, #faee02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
    font-weight: normal;
    color: white;
    -webkit-text-stroke: .1px green;
} 

.button {
  text-shadow: 0px 2px 5px white;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  background-image: linear-gradient(to bottom, rgb(180,180,180), rgb(240,240,240));
}

.button a{
    color: forestgreen;
}

.menubar {
  border: 2.5px solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: .5em;
  width: 20%;
  max-width: 1140px;
  align-content: left;
  position: flex;
}

.poem-footer {
  text-align: center;
  font-size: 15px;
  width: 30%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  margin-left: 35%;
  margin-right: 50%;
  margin-top: 10em;
    padding-top: 1em;
    padding-bottom:2em;
    border-radius:10px;
  
}

.footerbar {
  border: 1px dotted black;
  background-image: linear-gradient(to bottom right, red, yellow);
  border-radius: 10px;
  padding: 10px;
  font-size: 25px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 15%;
  max-width: 1140px;
  align-content: left;
  position: flex;
}

p {
    margin-left: 2em;
    margin-right: 3em;
    line-height: 1.7em;
    
}

.flex-right {
  margin-left: 60%;
  align-content: right;
}

.pagination li,
header nav li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}

.subtitle {
  margin-left: 5px;
}

ul, ol {
    margin-left: 2em;
    line-height: 1.7em;
}

ul ul {
    margin-left: -2em;
    list-style-type: none;
}


.main,
header,
footer {
  margin: auto;
  margin-top: 2em;
  width: 100%;
  position: relative
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  padding: 30px;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 55px;
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  background-size: 550px;
  background-position: center;
  transition: 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 0px 0px 10px red;
}

.card h3,
.card p {
  color: white;
  font-size:25px;
  -webkit-text-stroke: 1px black;
  margin-block-end: 5px;
  margin-block-start: 5px;
}

.card-box {
  width: 100%;
  align-content: center;
}

.card-date {
  color: white;
  font-size:25px;
  -webkit-text-stroke: 1px black;
  text-align: right;
    margin-top: 80%;
}

.pad-l-5px {
  padding-left: 5px;
}

.pad-r-5px {
  text-align: right;
  color: black;
  padding-right: 5px;
  margin-top: 8px;
}

.footer {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  padding-right: 5px;
  margin-bottom: 4em;
  margin-top: 4em;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

/* toc */

.toc-box {
  border: 1px solid black;
  padding: 5px;
}

toc {
  display: none;
}

toc li {
  list-style-type: none;
}

toc ul {
  margin-left: 0px;
  padding-left: 0;
}

toc ul ul {
  margin-left: 0px;
  padding-left: 15px;
}
