html {
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: 350;
  background:  center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}


@media only screen and (max-device-width: 1024px) {
  html {
    background-attachment: scroll;
  }
}

hr {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    width: 50%;
}

hr.between-updates {
    text-align: center;
    line-height: 0px;
    height: 0px;
    font-size: 18px;
    color: black;
    width: 50%;
    border-style: solid;
    border-width: .7px;
    margin: 3em auto 3em;
    overflow: visible;

}

hr.between-updates:after {
    font-size: 20px;
    content: "✦";
    background: white;
    display: inline;
    padding: 0 .3em;
}

p {
    margin-left: 3em;
    margin-right: 3em;
    line-height: 1.7em;
    font-family: 'Times'
    
}

img {
    border-radius:8px;
    box-shadow: 0px 0px 25px grey;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
	  margin-top: 2em;
}

.indent {
	margin-left: 2em;
}
a {
    text-decoration: none;
    transition: 0.3s ease-in-out;  
    color: green;
}

blockquote {
    margin-left: 7em;
    margin-right: 6em;
    text-align: justify;
    font-family: Times;
    line-height: 1.7em;
}

center {
  font-family: 'Times';
}
.mono {
  font-family: 'IBM Plex Mono';
  color: rgb(80,80,80);
  font-size: .7em;
  font-weight: 400;
  background: rgb(240,240,240);
  border-radius: 10px;
  padding: 40px 40px 40px 50px;
  text-align: left;

}


.mono-trans {
  font-family: 'IBM Plex Mono';
  color: rgb(80,80,80);
  font-size: 12px;
  font-weight: 400;
  background: rgb(240,240,240, .6);
  border-radius: 10px;
  padding: 30px 40px 30px 50px;
  text-align: left;
  margin: .5em auto 6em 3em;
  width: fit-content;
}

.mono-black {
  font-family: 'Baskerville';
  color: rgb(210,210,210);
  font-size: 14px;
  font-weight: 400;
  background: rgb(0,0,0, .7);
  border-radius: 10px;
  padding: 30px 40px 30px 50px;
  text-align: left;
  margin: .5em 0em 50em 15em;
  width: fit-content;
  max-width: 350px;
}

.mono-white {
  font-family: 'Times';
  color: rgb(200,200,200);
  font-size: 14px;
  font-weight: 400;
  background: rgb(250,250,250, .1);
  border-radius: 10px;
  padding: 30px 40px 30px 50px;
  text-align: left;
  margin: .5em 0em 50em 25%;
  width: fit-content;
}

.glow {
  -webkit-border-radius: 60px;
  border-radius: 5px;
  border: none;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  {
    box-shadow: 0 0 15px green;
}
to {
      box-shadow:  0 0 80px green;
}
}


@media (max-width: 800px) {
  .mono-trans {
    font-size: 10px;
  } 
}


.blurb {
    margin-left: auto
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}



.summary {
  margin-left: auto
  margin-right: auto;
  font-size: 20px;
  text-align: center;
  font-family: 'Times';
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 1em;
}


.caption {
    font-weight: 400;
    font-size: .9em;
    width: 90%;
    line-height: 1.7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2em;
}

.caption-center {
    font-size: .9em;
    font-weight: 400;
    width: 80%;
    text-align: center;
		line-height: 1.7em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2em;
}

.dropcap {
  font-family: 'Times';
  font-weight: 100;
  float: left;
  font-size: 5em;
  padding: 25px 15px 5px 5px;
}

.dropcap-t {
  font-family: 'Times';
  font-weight: 20;
  float: left;
  font-size: 5em;
  padding: .35em .2em 0.2em 0em;
}

.subtitle {
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 25px;
    font-variant: small-caps;
}
.content-box {
    background-color: rgb(252,254,252);
    border: 1px solid grey;
    width: 70%;
    max-width: 850px;
    padding-top: 3em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 3em;
    margin: auto;
    
}

iframe {
	width: 85%;
	margin: 1em auto 1em 2em;
	border: 1px solid white;
	border-radius: 20px;
	box-shadow: 0px 0px 25px grey;
}
.content-box-black {
    background-color: rgb(0,0,0);
    border: 1px solid grey;
    width: 80%;
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3em;
    margin: auto;
    
}

mark {
  padding-left:3px;
  padding-right:3px;
  padding-top: 1px;
  padding-bottom: .7px;
  border-radius:1px;
  border-style: dotted;
  border-width:1px;
  margin-right:1px;
  background: rgb(255, 240, 140,.9);
}

.largebox {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20%;
  width: 100%;
  margin: 0 auto 5em auto;
  padding-left: 20px;
  padding-bottom: 5em;
  font-family: Times;
  color: white;
  font-size: 16px;
  line-height: 1.7em;
}

.poembox {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
    margin-top: 500px;
    width: 100%;
    margin: 0 auto;
    font-family: Times;
    color: white;
    font-size: 20px;
    line-height: 1.7em;
}

.darkpoembox {
    background-color: rgb(0, 0, 0,.5);
    padding: 10px;
    border-radius:7px;
    
}


html, body { 
		height: 100%;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,.5)
    position: relative;
}

#container {
background: rgba(0, 0, 0, 0.5);
}

a:visited {
    color:green;
}
a:hover {
    text-shadow: 0px 0px 10px red;
}

.title {
    font-family: 'Helvetica Neue';
    font-size: 90px;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 1em;
	  
}

.pagination {
    text-align: center;
    letter-spacing: 5px;
    margin-left:40%;
    margin-right: 40%;
    border-radius: 10px;
    padding: 1em;
}

.pagination a {
    color: black;
    font-size: 20px;
}

.comment {
  font-family: "Baskerville";
  font-style: italic;
  font-size: 5em;
  line-height: 1.2em;
  width: 4em;
  margin: 1em auto 4em auto;
}

.t {
  font-family: 'Times';
  font-size: 1.2em;
  margin: 0em 4em 1em 2em;
  line-height: 1.7em
}

.h {
  font-family: 'Helvetica Neue'; font-weight: 400
  }

/* The sidebar menu */
.leftnav {
  height: 100%;
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 70%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  left: 3em;
}

.largeleftnav {
  height: 100%;
  width: fit-content; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 85%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  left: 5em;
}

.largeleftnav a {
  padding: 6px 10px 6px 10px;
  text-decoration: none;
  font-family: "Baskerville";
  color: grey;
  font-size: 20px;
  border-radius: 15px;
  display: block;
}


/* The navigation menu links */
.leftnav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: rgb(200,200,200, .9);
  font-size: 50px;
  display: block;
}

.rightnav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; 
  top: 70%; /* Stay at the top */
  right: 6em;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.largerightnav {
  height: 100%;
  width: fit-content; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 85%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  right: 5em;
}

.largerightnav a {
  padding: 6px 10px 6px 10px;
  text-decoration: none;
  font-family: "Baskerville";
  color: grey;
  font-size: 20px;
  border-radius: 15px;
  display: block;
}


/* The navigation menu links */
.rightnav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: rgb(200,200,200, .9);
  font-size: 50px;
  display: block;
}

.no-dot {
  list-style-type: none;
}

h1{
    text-align: center;
    text-shadow: 0px 0px 5px grey;
    font-weight: bold;
    font-size: 80px;
    font-variant: small-caps;
    margin: 5px 0 20px 0px;
}

h2{
  text-align: center;
}
header a,
header h2,
header h3 {
  margin-block-end: 3em;
  margin-block-start: 0px;
}

h4 {
    margin-left: 1em;
    font-size: 2em;
    text-align: center;
    background: -webkit-linear-gradient(10deg, #3fad21, #faee02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
    font-weight: normal;
    color: white;
    -webkit-text-stroke: .1px green;
} 

.button {
  text-shadow: 0px 2px 5px white;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  background-image: linear-gradient(to bottom, rgb(180,180,180), rgb(240,240,240));
}

.button a{
    color: forestgreen;
    font-family: 'Helvetica Neue';
}

.menubar {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  border: 1px solid rgb(150,150,150);
  border-radius: 15px;
  padding: 8px;
  font-size: 25px;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 5em;
  max-width: 1140px;
  align-content: left;
  vertical-align: middle;
  position: flex;
}

.homebutton { 
  font-size: 1.2em;
  position:relative;
  top:0;
  margin-top:3em;
  margin-left: 85%;
}

.poembutton { 
  font-size: 15px; 
  position:relative;
  top:0;
  margin-top:3%;
  margin-left: 90%;
  margin-bottom: -5em;
}

.poembutton a { 
  color: grey;
  background-color: rgb(250,250,250);
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.homebutton a {
      font-family: 'Times New Roman';
  color:white; 
    background-color: rgb(100,100,100,.2);
      border-width: 1px;
  border-style: solid;
  border-color: white;
    border-radius: 5px;
  padding: 10px;
}

.footerbar {
  background-image: linear-gradient(to bottom right, red, yellow);
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
	font-weight: 400;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 4em;
  align-content: left;
  position: flex;
}

.table tr, td{
	font-size: 12px;
}


.pagination li,
header nav li {
  list-style-type: none;
  display: inline-block;
}

.subtitle {
  margin-left: 5px;
}

ul, ol {
  font-family: 'Times';
    margin: 0 6em 0 2em;
    line-height: 1.7em;
}

ul ul {
  font-family: 'Times';
    margin-left: -2em;
    list-style-type: none;
}

ul.dashed {
  font-size: .9em;
  margin-left: 0;
  margin-right: 0em;
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
  margin-bottom: .5em;
  margin-top: .5em;
}
ul.dashed > li:before {
  content: "– ";
  font-weight: 800;
  text-indent: -5px;
}

.main,
header,
footer {
  margin: auto;
  margin-top: 2em;
  width: 90%;
  position: relative
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  padding: 30px;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 55px;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  background-size: 500px;
	background-repeat: no-repeat;
	background-position: top;
	background-color: black;
  transition: 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 0px 0px 10px red;
}

.card h3,
.card p {
  font-family: 'Helvetica Neue';
  font-weight: 450;
  text-shadow: 0 0 10px black;
  color: white;
  font-size:25px;
  margin-block-end: 5px;
  margin-block-start: 5px;
}

.card-box {
  width: 100%;
  align-content: center;
}

.card-date {
  color: white;
  font-size:25px;
      text-shadow: 0 0 5px black;
  text-align: right;
    margin-top: 80%;
}


.tags {
  text-align: center;
  font-size: .8em;
  font-weight: 300;
  color: black;
  width: 50%;
  margin: 4em auto 4em auto;
  line-height: 2.5em;
}

.tags a {
    background-color: pink;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    
}
.nav-left {
  font-size: .9em;
  display: inline-block;
  align-content: left;
  float: left;
}
.nav-right {
  font-size: .9em;
  display: inline-block;
  width: fit-content;
  float: right;
}


.flex {
  display: flex;
	font-family: 'Helvetica Neue';
	font-weight: 300;
  flex-wrap: wrap;
  margin-left: 0;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  padding-right: 5px;
  margin-top: 4em;
  padding-bottom: 4em;
}

div .scroll-wrapper {
	overflow-x: scroll;
	
	
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

.tags-list {
    text-align: center;
    font-size: 50px;
    margin-bottom: 1em;
}

/* toc */

.toc {
  font-weight: 400;
  font-size: 20px;
  font-variant: small-caps;
  line-height: 1.5em;
}
.toc-box {
  border: 1px solid black;
  padding: 5px;
}

toc {
  display: none;
}

toc li {
  list-style-type: none;
}

toc ul {
  margin-left: 0px;
  padding-left: 0;
}

toc ul ul {
  margin-left: 0px;
  padding-left: 15px;
}


/* TOOLTIPS */

.tooltip {
  text-decoration:none;
  position:relative;
  cursor: crosshair;
  word-wrap: break-word;
}
.tooltip span {
  display:none;
}
.tooltip:hover span {
  display:block;
  position:fixed;
  overflow:hidden;
  background:black;
  max-width: 500px;
  padding: 10px;
  font-family: 'Baskerville';
  opacity: 70%;
  font-size: 18px;
  line-height: 1.5em;
  border-radius: 5px;
  color: white;
  border-color: rgb(200,200,200);
  border-style:solid;
  border-width:1px;
  z-index: 2;
}

.tooltip-i {
  text-decoration:none;
  position:relative;
}
.tooltip-i span {
  display:none;
}

.tooltip-i:hover span {
  display:block;
  position:fixed;
  overflow:hidden;
  background:rgb(0, 0, 0, .7);
  max-width: 200px;
  padding: 10px;
  font-size: 90%;
  line-height: 1em;
  border-radius: 10px;
  border-style: solid;
  border-color: red;
  color: white;
}

@media (max-width: 900px ) {
  .title {
    font-size: 8vw;
    padding-top: .7em;
  }

  header nav li {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 5px;
  }
  .menubar a {
    font-size: 16px;
  }

  .menubar {
    padding: 0;
    border-radius: 10px;
  }
  
  h1{
    font-size: 50px;
  }
  .subtitle {
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 20px;
    font-variant: small-caps;
  }
}
