html {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

hr {
    margin-bottom: 2em;
}
img {
    border-radius:8px;
    box-shadow: 0px 0px 20px grey;
    margin: 25px;
}
a {
    text-decoration: none;
    transition: 0.3s ease-in-out;  
    color: green;
}

.blurb {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.caption {
    font-size: 16px;
    text-align: center;
    margin: auto;
    margin-bottom:3em;
}

.subtitle {
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 24px;
    font-variant: small-caps;
}
.content-box {
    background-color: rgb(252,254,252);
    border: 1px solid grey;
    width: 70%;
    padding-top: 3em;
    padding-left: 6em;
    padding-right: 5em;
    padding-bottom: 3em;
    margin: auto;
    
}

a:visited {
    color:green;
}
a:hover {
    text-shadow: 0px 0px 10px red;
}
.title {
    font-size: 100px;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 1em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
}

.no-dot {
  list-style-type: none;
}

h1{
    text-align: center;
    text-shadow: 0px 0px 5px grey;
    font-weight: bold;
    font-size: 100px;
    font-variant: small-caps;
    margin: 5px 0 20px 0px;
}
header a,
header h2,
header h3 {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.menubar {
  border: 2.5px solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 35px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: .5em;
  width: 20%;
  max-width: 1140px;
  align-content: left;
  position: relative;
}

p {
    margin-left: 2em;
    margin-right: 5em;
    line-height: 1.7em;
    
}
.flex-right {
  margin-left: 60%;
  align-content: right;
}

.pagination li,
header nav li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}

.subtitle {
  margin-left: 5px;
}

.main,
header,
footer {
  margin: auto;
  margin-top: 2em;
  width: 90%;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  padding: 30px;
  margin-right: 55px;
  margin-bottom: 55px;
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  background-size: 550px;
  background-position: center;
  transition: 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 0px 0px 10px red;
}

.card h3,
.card p {
  color: white;
  font-size:30px;
  -webkit-text-stroke: 1px black;
  margin-block-end: 5px;
  margin-block-start: 5px;
}

.card-box {
  width: 100%;
  align-content: center;
}

.card-date {
  color: white;
  font-size:30px;
  -webkit-text-stroke: 1px black;
  text-align: right;
    margin-top: 80%;
}

.pad-l-5px {
  padding-left: 5px;
}

.pad-r-5px {
  text-align: right;
  color: black;
  padding-right: 5px;
  margin-top: 8px;
}

.footer {
  text-align: center;
  color: black;
  padding-right: 5px;
  margin-bottom: 4em;
  margin-top: 6em;
}

/* toc */

.toc-box {
  border: 1px solid black;
  padding: 5px;
}

toc {
  display: none;
}

toc li {
  list-style-type: none;
}

toc ul {
  margin-left: 0px;
  padding-left: 0;
}

toc ul ul {
  margin-left: 0px;
  padding-left: 15px;
}