html {
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: 350;
  height: 100%;
  background:  no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

@media only screen and (max-device-width: 500px) {
  html {
    background: top center fixed;
    -webkit-background-size: auto 100vh;
    background-size: auto 100vh;
  }
}

hr {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    width: 50%;
}

hr.between-updates {
    text-align: center;
    line-height: 0px;
    height: 0px;
    font-size: 18px;
    color: black;
    width: 50%;
    border-style: solid;
    border-width: .7px;
    margin: 3em auto 3em;
    overflow: visible;

}

hr.pagediv {
  width: 100%;
  color: rgb(200,200,200);
  border-style:double;
  border-width: .1pt;
}

hr.between-updates:after {
    font-size: 20px;
    content: "✦";
    background: white;
    display: inline;
    padding: 0 .3em;
}

p {

    line-height: 1.7em;
    font-family: 'Times';
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    
}

img {
    border-radius:8px;
    box-shadow: 0px 0px 25px grey;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
	  margin-top: 2em;
}

.indent {
	margin-left: 2em;
}
a {
    text-decoration: none;
    transition: 0.3s ease-in-out;  
    color: green;
}


a:visited {
  color: green;
}
a:hover {
  text-shadow: 0px 0px 10px grey;
}

blockquote {
    margin-left: 7em;
    margin-right: 4em;
    text-align: justify;
    font-family: Times;
    font-size: 1em;
    line-height: 1.9em;
    max-height: 50em;
    overflow-y: auto;
    overflow-x: hidden;
}

blockquote::-webkit-scrollbar {
  width: 5px;
  height: 10px;               /* width of the entire scrollbar */
}

blockquote::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

blockquote::-webkit-scrollbar-thumb {
  background-color: rgb(210,210,210);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}


.wrapper { 
  margin: auto; 
  text-align: center; 
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px !important;
  width: 800px;
  padding-top: 5px;
}

.scrolls { 
  overflow-x: scroll;
  overflow-y: hidden;
  height: 1000px;
white-space:nowrap
} 

.white {
  border-left: 3px solid ;
  border-radius: .2em;
  padding-left: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 5em;
  margin-right: 5em;
  width: 40em;
  max-height: fit-content;
}

center {
  font-family: 'Times';
}
.mono {
  font-family: 'IBM Plex Mono';
  color: rgb(80,80,80);
  font-size: .7em;
  font-weight: 400;
  background: rgb(240,240,240);
  border-radius: 10px;
  padding: 40px 40px 40px 50px;
  text-align: left;
  overflow-x: auto;

}


.mono-trans {
  font-family: 'IBM Plex Mono';
  color: rgb(80,80,80);
  font-size: 12px;
  font-weight: 400;
  background: rgb(240,240,240, .6);
  border-radius: 10px;
  border-left: none;
  padding: 30px 40px 30px 50px;
  text-align: left;
  margin: .5em auto 6em 5em;
  width: fit-content;
}

.mono-black {
  font-family: 'Baskerville';
  color: rgb(250,250,250);
  font-size: 1em;
  font-weight: 500;
  background: rgb(0,0,0, .7);
  border-radius: 10px;
  padding: 30px 40px 30px 50px;
  text-align: left;
  margin: .5em 0em 50em 5em;
  width: fit-content;
  max-width: 350px;
}

.mono-blank {
  background-color: rgb(0,0,0,0);
  color: white;
  font-family: 'Times';
  max-width: fit-content;
  margin: 50em auto 50em 20em;
}

.mono-grey {
  font-family: 'Times';
  color: rgb(210,210,210);
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
  background: rgb(0,0,0,.4);
  border-radius: 10px;
  padding: 30px 40px 30px 50px;
  text-align: left;
  margin: .5em 0em 5em 15em;
  width: fit-content;
  max-width: 350px;
}
.mono-white {
  font-family: 'Times';
  color: rgb(200,200,200);
  font-size: .9em;
  font-weight: 400;
  background: rgb(250,250,250, .1);
  border-radius: 10px;
  padding: .6em 2em 2em 2em;
  text-align: left;
  margin: .5em 0em 50em 20em;
  width: fit-content;
}

.glow {
  -webkit-border-radius: 60px;
  border-radius: 5px;
  border: none;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  {
    box-shadow: 0 0 15px green;
}
to {
      box-shadow:  0 0 80px green;
}
}


@media (max-width: 1000px) {
  .mono-trans {
    font-size: 10px;
    margin-left: 25%;
  } 
}


.blurb {
    margin-left: auto
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}


.sonnet {
  position: relative;
  color: white;
  font-family: 'Times';
  font-size: 12pt;
  line-height: 1.5em;
  margin-left: 0em;
  border-bottom: rgb(230,229,228);
  border-bottom-style: solid;
  border-width: .5px;
  width: 30vw;
  padding: 20vw 10vw 20vw 10vw;
}


.summary {
  margin-left: auto
  margin-right: auto;
  font-size: 20pt;
  text-align: center;
  font-family: 'Times';
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 1em;
}


.caption {
    font-weight: 400;
    font-size: .9em;
    width: fit-content;
    max-width: 70%;
    line-height: 1.6em;
    overflow-wrap: break-word;
    display: fixed;
    justify-content: center;
    margin: 1em auto 1em auto;
}

.dropcap {
  font-family: 'Times';
  font-weight: 100;
  float: left;
  font-size: 5.5em;
  padding: .35em .2em 0.1em .1em;
}

.dropcap-t {
  font-family: 'Times';
  font-weight: 20;
  float: left;
  font-size: 5em;
  padding: .35em .2em 0.2em 0em;
}

.dropcap-h {
  font-family: 'Helvetica Neue';
  font-weight: 100;
  float: left;
  font-size: 5em;
  padding: .4em .4em 0.1em .2em;
}

.subtitle {
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 25px;
    font-variant: small-caps;
}

.content-box {
    border: 1px solid grey;
    max-width: 700px;
    padding-top: 3em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 3em;
    margin: auto;
    
}

iframe {
	width: 85%;
	margin: 1em auto 1em 2em;
	border: 1px solid white;
	border-radius: 20px;
	box-shadow: 0px 0px 25px grey;
}
.content-box-black {
    background-color: rgb(0,0,0);
    border: 1px solid grey;
    width: 80%;
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3em;
    margin: auto;
    
}

mark {
  padding-left:3px;
  padding-right:3px;
  padding-top: 1px;
  padding-bottom: .7px;
  border-radius:1px;
  border-style: dotted;
  border-width:1px;
  margin-right:1px;
  background: rgb(255, 240, 140,.9);
}

.largebox {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20%;
  width: 100%;
  margin: 0 auto 5em auto;
  padding-bottom: 5em;
  font-family: Times;
  color: white;
  font-size: 16px;
  line-height: 1.7em;
}

.poembox {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
    margin-top: 500px;
    width: 100%;
    margin: 0 auto;
    font-family: Times;
    color: white;
    font-size: 20px;
    line-height: 1.7em;
}

.darkpoembox {
    background-color: rgb(0, 0, 0,.5);
    padding: 10px;
    border-radius:7px;
    
}


#container {
background: rgba(0, 0, 0, 0.5);
}


.title {
    font-family: 'Helvetica Neue';
    font-weight: 800;
    font-size: 5em;
    text-align: center;
    width: 90%;
    margin: 1em auto auto auto;
	  
}

.title a {
  color: green;
  transition: 0.3s ease-in-out;  
}

.pagination {
    text-align: center;
    letter-spacing: 5px;
    width: fit-content;
    margin: 3em auto 2em auto;
    border-radius: 10px;

}

.pagination a {
    color:grey;
    font-size: 20px;
}

.pcite {
  margin-left: auto;
  margin-right: 0;
  text-align: left;
  overflow-wrap: break-word;
  hyphens: auto;
  width: 15em;
}
.comment {
  font-family: "Baskerville";
  font-style: italic;
  font-size: 5em;
  line-height: 1.2em;
  width: 4em;
  margin: 1em auto 4em auto;
}

.t {
  font-family: 'Times';
  font-size: 1.2em;
  margin: 0em 3em 1em 3em;
  line-height: 1.7em
}

.h {
  font-family: 'Helvetica Neue'; font-weight: 400;
  width: 60%; margin: 0em auto 1em auto;
  text-align: justify;
  }

/* The sidebar menu */
.leftnav {
  height: 100%;
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 70%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  left: 3em;
}

.largeleftnav {
  height: 100%;
  width: fit-content; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 85%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  left: 5em;
}

.largeleftnav a {
  padding: 6px 10px 6px 10px;
  text-decoration: none;
  font-family: "Helvetica Neue";
  color: silver;
  font-size: 18px;
  border-radius: 15px;
  display: block;
}


/* The navigation menu links */
.leftnav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: rgb(200,200,200, .9);
  font-size: 2em;
  font-family: 'Helvetica Neue';
  display: block;
}

.rightnav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; 
  top: 70%; /* Stay at the top */
  right: 6em;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.rightnav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: rgb(200,200,200, .9);
  font-family: 'Helvetica Neue';
  font-size: 2em;
  display: block;
}

.largerightnav {
  height: 100%;
  width: fit-content; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 85%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  right: 5em;
}

.largerightnav a {
  padding: 6px 10px 6px 10px;
  text-decoration: none;
  font-family: "Helvetica Neue";
  color: silver;
  font-size: 18px;
  border-radius: 15px;
  display: block;
}



.no-dot {
  list-style-type: none;
}

h1{
    text-align: center;
    text-shadow: 0px 0px 5px grey;
    font-weight: bold;
    font-size: 80px;
    font-variant: small-caps;
    margin: 5px 0 20px 0px;
}

h2{
  text-align: center;
}
header a,
header h2,
header h3 {
  margin-block-end: 3em;
  margin-block-start: 0px;
}

h3 {
  margin-left: 2.5em;
  font-weight: 500;
  font-size: 1.3em;
  font-variant: small-caps;
}
h4 {
    margin-left: 1em;
    font-size: 2em;
    text-align: center;
    background: -webkit-linear-gradient(10deg, #3fad21, #faee02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
    font-weight: normal;
    color: white;
    -webkit-text-stroke: .1px green;
} 
h5 {
  font-size: 1em;
}

.button {
  text-shadow: 0px 2px 5px white;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  background-image: linear-gradient(to bottom, rgb(180,180,180), rgb(240,240,240));
}

.button a{
    color: forestgreen;
    font-family: 'Helvetica Neue';
}

.menubar {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  background-color: rgb(210,210,210,.2);
  border-radius: 15px;
  padding: 8px;
  font-size: 25px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1.7em;
  width: 5em;
  max-width: 1140px;
  align-content: left;
  vertical-align: middle;
  position: flex;
}

.homebutton { 
  font-size: 1.1em;
  position: fixed;
  top:0;
  margin-top:3em;
  margin-left: 85%;
  z-index: 1;
}

.homebutton a {
  font-family: 'Baskerville';
  font-size: 1em;
  color:white;
  background-color: rgb(200,200,200,.2);
  border-radius: 15px;
  padding: .7em;
  z-index: 1;
}

.poembutton { 
  font-size: 1em; 
  position: relative;
  top:0;
  margin-top:3em;
  margin-left: 90%;
  margin-bottom: -5em;
}
.poembutton a { 
  color: grey;
  background-color: rgb(250,250,250,.1);
  border-radius: 10px;
  padding: .7em 1em .7em 1em;
}

.msgbutton { 
  font-size: 15px; 
  position:relative;
  top:0;
  margin-top:4em;
  margin-left:5em;
  margin-bottom: -5em;
}

.msgbutton a { 
  color: white;
  background-color: rgb(200,200,200,.2);
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}



.footerbar {
  background-image: linear-gradient(to bottom right, red, yellow);
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
	font-weight: 400;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 4em;
  align-content: left;
  position: flex;
}

.table tr, td{
	font-size: 12px;
}


.pagination li,
header nav li {
  list-style-type: none;
  display: inline-block;
}

.subtitle {
  margin-left: 5px;
}

ul, ol {
  font-family: 'Times';
  font-size: 1em;
  margin: 0 5em 0 4em;
  line-height: 1.7em;
}

ul ul {
  font-family: 'Times';
    margin-left: -2em;
    list-style-type: none;
}

ul.dashed {
  font-size: .9em;
  margin-left: 0;
  margin-right: 0em;
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
  margin-bottom: .5em;
  margin-top: .5em;
}
ul.dashed > li:before {
  content: "– ";
  font-weight: 800;
  text-indent: -5px;
}

.main,
header,
footer {
  margin: auto;
  margin-top: 2em;
  width: 90%;
  position: relative
}

.card {
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(50,50,50);
  padding: 25px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 55px;
  width: 290px;
  height: 290px;
  box-sizing: border-box;
  background-size: 500px;
	background-repeat: no-repeat;
	background-position: top;
	background-color: black;
  transition: 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 0px 0px 10px black;
}

.card h3,
.card p {
  font-family: 'Helvetica Neue';
  font-weight: 450;
  text-shadow: 0 0 10px black;
  color: white;
  font-size:25px;
  margin-block-end: 5px;
  margin-block-start: 5px;
  margin-left: 0;
  font-variant: normal;
}

.card-box {
  width: 100%;
  align-content: center;
}

.card-date {
  color: white;
  font-size:25px;
  text-shadow: 0 0 5px black;
  text-align: right;
  font-weight: 350;
  margin-top: 78%;
}


.tags {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  color: black;
  width: 80%;
  margin: 4em auto 4em auto;
  line-height: 2.5em;
}

.tags a {
    font-size: 1em;
    background-color: rgba(135, 114, 117, .1);
    color: black;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
}
.nav-left {
  font-size: 1em;
  font-weight: 300;
  display: inline-block;
  align-content: left;
  float: left;
}
.nav-right {
  font-size: 1em;
  font-weight: 300;
  display: inline-block;
  width: fit-content;
  float: right;
}


.flex {
  display: flex;
	font-family: 'Helvetica Neue';
	font-weight: 300;
  flex-wrap: wrap;
  margin-left: 0;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: grey;
  padding-right: 5px;
  margin-top: 4em;
  padding-bottom: 4em;
}

div .scroll-wrapper {
	overflow-x: scroll;
	
	
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

.tags-list {
    text-align: center;
    font-size: 50px;
    margin-bottom: 1em;
}

/* toc */

.toc {
  font-weight: 400;
  font-size: 20px;
  font-variant: small-caps;
  line-height: 1.5em;
}
.toc-box {
  border: 1px solid black;
  padding: 5px;
}

toc {
  display: none;
}

toc li {
  list-style-type: none;
}

toc ul {
  margin-left: 0px;
  padding-left: 0;
}

toc ul ul {
  margin-left: 0px;
  padding-left: 15px;
}


/* TOOLTIPS */

.tooltip {
  text-decoration:none;
  position:relative;
  cursor: crosshair;
  word-wrap: break-word;
}
.tooltip span {
  display:none;
}
.tooltip:hover span {
  display:block;
  position:fixed;
  overflow:hidden;
  background:black;
  max-width: 500px;
  padding: 10px;
  font-family: 'Baskerville';
  opacity: 70%;
  font-size: 18px;
  line-height: 1.5em;
  border-radius: 5px;
  color: white;
  border-color: rgb(200,200,200);
  border-style:solid;
  border-width:1px;
  z-index: 2;
}

.tooltip-i {
  text-decoration:none;
  position:relative;
}
.tooltip-i span {
  display:none;
}

.tooltip-i:hover span {
  display:block;
  position:fixed;
  overflow:hidden;
  background:rgb(0, 0, 0, .7);
  max-width: 200px;
  padding: 10px;
  font-size: 90%;
  line-height: 1em;
  border-radius: 10px;
  border-style: solid;
  border-color: red;
  color: white;
}

@media (max-width: 900px ) {
  .title {
    font-size: 8vw;
    padding-top: .7em;
  }
  .menubar {
    font-size: 3vw;
  }

}

