<!DOCTYPE html>
<html style="background-image: url('/img/chino hills.png')">

{{- partial "brown-head.html" . -}}

<body>
	{{- partial "brown-header.html" . -}}

    <div class="main">  
			<!--Content-->

<div class="content-box">
    <h1>{{.Title}}</h1>   
        <!--Date--><div class="subtitle">
        {{with .PublishDate}}{{dateFormat "Monday, 1/2/06 at 3:04 PM" .}}{{end}}<br>
        <!--LastMod-->
        {{if ne .Lastmod .PublishDate}}
              Updated: {{with .Lastmod}}{{dateFormat "1/2/06 at 3:04 PM" .}} {{end}}
        {{end}}
			</div>

			<div>

	   {{with .Content}}<content>{{.}} </content>{{end}}

	<!--Tag-->
	<div class="tags">Tags:
		{{ range $i, $e := .Params.tags }}
		  <a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a>
				  {{ end }}
</div>

<!--Prev/Next-->
<div class="nav-left">
{{if or .PrevInSection .NextInSection}}
	{{with .NextInSection}}<a href="{{.RelPermalink}}">
		<< {{.Title}}</a> {{end}}</div>
		<div class="nav-right"></div>
			{{with .PrevInSection}}<a class="nav-right" href="{{.RelPermalink}}">{{.Title}} >></a>{{end}}
		</div></div>
{{end}}
			
	{{- partial "brown-footer.html" . -}}
			
</body>


</html>