<header class="flex">
	
<div class="poembutton">
    <a href="/msg/entrance">✦</a><br><br>
</div>

<div class="title"><a href="{{relLangURL ""}}">{{site.Title}}</a>

{{with site.Params.subtitle}}<div class="subtitle">{{.}}</div>{{end}}

{{if site.Menus}}
<!--
<button type="button" class="collapsible">Menu</button>
-->
<nav class="menubar">
	{{$currentPage := .}}
	{{range site.Menus.main}}
		{{if .HasChildren}}
			<a href="#">
				{{.Pre}}
				<span>{{.Name}}</span>
			</a>

			{{range .Children}}
			
				<a href="{{.URL}}">{{.Name}}</a>

			{{end}}
		</ul>
		{{else}}

			<a href="{{.URL}}">
				{{.Pre}}
				<span>{{.Name}}</span>
			</a>

		{{end}}
	{{end}}
</nav>
{{end}}
    
    </div>
</header>