<head>
	<!--Meta-->
	<meta charset="utf-8">
	<!--css-->
	<link rel="stylesheet" href="{{relLangURL ""}}css/sk2.css">
	
	
<link rel="icon" href="/favicon.ico" type="image/x-icon"> 
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 

	
	
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Klee+One&family=Merienda&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cabin+Sketch&family=Corben&family=Seaweed+Script&family=Rampart+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<script>
	var tooltipSpan = document.getElementsByClassName("tooltip-reveal");
  
	window.onmousemove = function(e) {
	var x = e.clientX,
	  y = e.clientY;
  
	for (var i = 0; i < tooltipSpan.length; i++) {
	  tooltipSpan[i].style.top = (y + 25) + 'px';
	  tooltipSpan[i].style.left = (x - 250) + 'px';
	}
  
	};
  </script>
</head>