<footer class="footer">
    <!--Prev/Next-->
	{{if or .PrevInSection .NextInSection}}
	{{if eq .Params.bg "white"}}
		<div class="largerightnav">
			{{with .PrevInSection}}<a href="{{.RelPermalink}}" style="color:rgb(0,0,0,.5);">
				{{.Title}} →</a> {{end}}</div>
				   {{with .NextInSection}}<div class="largeleftnav"><a href="{{.RelPermalink}}" style="color:rgb(0,0,0,.5);">← {{.Title}}</a>{{end}}</div>
	{{ else }}
	<div class="largerightnav">
		{{with .PrevInSection}}<a href="{{.RelPermalink}}">
			 {{.Title}} →</a> {{end}}</div>
				{{with .NextInSection}}<div class="largeleftnav"><a href="{{.RelPermalink}}" style="color:rgb(0,0,0,.5);">← {{.Title}}</a>{{end}}</div>
    {{end}}
	{{end}}
	

<script>
	var tooltipSpans = document.querySelectorAll('div.tooltip>span');

	window.onmousemove = function(e) {
	
	  tooltipSpans.forEach(function(element, index) {
		let x = e.clientX
		let y = e.clientY;
		element.style.top = (y + 15 ) + 'px';
		element.style.left = (x + 15 ) + 'px';
	  })
	
	};
</script>


<script>

	$(function() {
	  var b = $("#collapsible");
	  var w = $("#wrapper");
	  var l = $("#stuff");
	  
	  w.height(l.outerHeight(true));
	
	  b.click(function() {
	  
		if(w.hasClass('collapsible-content')) {
		  w.removeClass('collapsible-content');
		  w.height(0);
		} else {
		  w.addClass('collapsible-content');
		  w.height(l.outerHeight(true));
		}
	  
	  });
	});
	
	</script>




</script>
</footer>


